/* Add primary font stack */
/* Main color sheme */
/* Mixins for circles */
/* Mixins for animations */
h2 {
  font-weight: 700;
}

html, body {
  height: 100%;
}

body {
  background-color: #d186ab;
  color: #44303a;
  font: 100% "Poppins", sans-serif;
  overflow: hidden;
}

.player > span {
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 10px;
  background-color: #dca0be;
  border-radius: 15px;
}

.player .circle {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  cursor: pointer;
  overflow: hidden;
  background-color: #44303a;
  transition: transform .2s ease-in-out;
}

.player .circle .move {
  font-size: 120px;
  color: #f6deea;
}

.player .circle.blink {
  animation-name: circle-blink;
  animation-duration: 2s;
  animation-delay: 1s;
}

.player .circle i.move-up-out {
  animation-name: move-up-out;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.player .circle i.move-up-in {
  animation-name: move-up-in;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.player .circle i.move-down-out {
  animation-name: move-down-out;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.player .circle i.move-down-in {
  animation-name: move-down-in;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.player .move-name {
  box-sizing: border-box;
  padding: 40px 0 20px 0;
  text-align: center;
}

.player .latest-moves {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}

.player .latest-moves span {
  box-sizing: border-box;
  padding: 5px;
  white-space: nowrap;
}

.player .latest-moves ul {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  padding: 0;
  margin: 0;
  min-height: 60px;
}

.player .latest-moves ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  box-sizing: border-box;
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  animation-name: zoom-in;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.player .latest-moves ul li.win {
  background-color: #44303a;
  color: #d186ab;
}

.game-display {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 300px;
  height: 300px;
  line-height: 70px;
}

.game-display .start-button {
  height: 50px;
  background-color: #f6deea;
}

.game-display .start-button:focus {
  box-shadow: 0 0 0 0.2rem #44303a;
}

.game-display .round {
  text-align: center;
  font-weight: 900;
  color: #f6deea;
}

.game-display .round h1 {
  font-size: 30px;
  display: none;
}

.game-display .round h1.zoom-in {
  animation-name: zoom-in;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.8, -0.49, 0.36, 1);
}

.game-display .round h1.zoom-out {
  animation-name: zoom-out;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.game-display .round .countdown {
  font-size: 120px;
  display: none;
}

.game-display .round .countdown.zoom-in {
  animation-name: zoom-in;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.8, -0.49, 0.36, 1);
}

.game-display .round .countdown.zoom-out {
  animation-name: zoom-out;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.game-display .start-button {
  font-weight: 900;
  color: #44303a;
}

.game-display .start-button.move-down-out {
  animation-name: move-down-out;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.game-display .start-button.move-up-in {
  animation-name: move-up-in;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.modal {
  background-color: rgba(209, 134, 171, 0.9);
  display: none;
}

.modal.zoom-in {
  animation-name: zoom-in;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.modal.zoom-out {
  animation-name: zoom-out;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.modal .close-modal {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}

.modal form {
  text-align: center;
}

.modal form input {
  width: 100%;
  font-size: 100px;
  text-align: center;
  color: #f6deea;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 30px;
}

.modal form input:focus {
  background-color: #dca0be;
}

.modal form input:-ms-input-placeholder {
  color: #f6deea;
  opacity: 0.2;
}

.modal form input::placeholder {
  color: #f6deea;
  opacity: 0.2;
}

.modal form label {
  font-size: 10px;
  font-weight: 700;
  padding: 20px 40px;
}

.modal form button {
  padding: 10px 30px;
  border: solid 3px #dca0be;
  border-radius: 15px;
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
  color: #f6deea;
}

.modal form button:hover {
  background-color: #f6deea;
  color: #44303a;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 20px;
  font-size: 10px;
  font-weight: 700;
  width: 100%;
}

footer .tips {
  float: left;
}

footer .copy {
  float: right;
}

@keyframes zoom-out {
  0% {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  100% {
    opacity: 0;
    transform: matrix(0.3, 0, 0, 0.3, 0, 0);
  }
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: matrix(10, 0, 0, 10, 0, 0);
  }
  100% {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

@keyframes move-down-out {
  0% {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  100% {
    opacity: 0;
    transform: matrix(0.7, 0, 0, 0.7, 0, 100);
  }
}

@keyframes move-up-out {
  0% {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  100% {
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, -500);
  }
}

@keyframes move-up-in {
  0% {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 500);
  }
  100% {
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

@keyframes move-down-in {
  0% {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, -500);
  }
  100% {
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

@keyframes move-down-out {
  0% {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  100% {
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 500);
  }
}

@keyframes circle-blink {
  0% {
  }
  10% {
    background-color: #f6deea;
    transform: scale(1.1);
  }
  12% {
    background-color: #44303a;
  }
  90% {
    transform: scale(1.1);
  }
  100% {
  }
}
/*# sourceMappingURL=style.css.map */