/* Add primary font stack */
$font-stack: 'Poppins', sans-serif;

/* Main color sheme */
$primary-color: #d186ab;
$primary-color-rgba: rgba( 209, 134, 171, 0.9);
$secondary-color: #44303a;
$tertiary-color: #dca0be;
$light-text: #f6deea;

/* Mixins for circles */
@mixin circle($radius) {
	width: $radius;
	height: $radius;
	border-radius: $radius;
}

/* Mixins for animations */
@mixin animation($animationName, $time) {
	animation-name: $animationName;
	animation-duration: $time;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

h2 {
	font-weight: 700;
}

html, body {
	height: 100%;
}

body {
	background-color: $primary-color;
	color: $secondary-color;
	font: 100% $font-stack; 
	overflow: hidden;
}

.player {
	> span {
		font-size: 10px;
		font-weight: 700;
		color: #fff;
		text-align: center;
		padding:10px;
		background-color: $tertiary-color;
		border-radius: 15px;
	}
	.circle {
		@include circle(300px);
		cursor: pointer;
		overflow: hidden;
		background-color: $secondary-color;
		transition: transform .2s ease-in-out; 
		.move {
			font-size: 120px;
			color: $light-text;
		}
		&.blink {
			animation-name: circle-blink;
			animation-duration: 2s;
			animation-delay: 1s;
		}
		i.move-up-out {
			@include animation(move-up-out, .2s);
		}
		i.move-up-in {
			@include animation(move-up-in, .2s);
		}
		i.move-down-out {
			@include animation(move-down-out, .2s);
		}
		i.move-down-in {
			@include animation(move-down-in, .2s);
		}
	}
	.move-name {
		box-sizing: border-box;
		padding:40px 0 20px 0;
		text-align: center;
	}
	.latest-moves {
		display: flex;
		flex-direction: row;
		align-items: center;
		span {
			box-sizing: border-box;
			padding: 5px;
			white-space: nowrap;
		}
		ul {
			list-style: none;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			padding: 0;
			margin: 0;
			min-height: 60px;
			li {
				display: flex;
				justify-content: center;
				align-items:center;
				box-sizing: border-box;
				margin:5px;
				width: 50px;
				height: 50px;
				border-radius: 10px;
				@include animation(zoom-in, .2s);
				&.win {
					background-color: $secondary-color;
					color: $primary-color;
				}
			}
		}
	}
}

.game-display {
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	width: 300px;
	height: 300px;
	line-height: 70px;
	.start-button {
		height: 50px;
		background-color: $light-text;
		&:focus {
			box-shadow: 0 0 0 0.2rem $secondary-color;
		}
	}
	.round {
		text-align: center;
		font-weight: 900;
		color: $light-text;
		h1 {
			font-size: 30px;
			display: none;
			&.zoom-in {
				@include animation(zoom-in, .7s);
				animation-timing-function: cubic-bezier(.8,-0.49,.36,1);
			}
			&.zoom-out {
				@include animation(zoom-out, .7s);
			}
		}
		.countdown {
			font-size: 120px;
			display: none; 
			&.zoom-in {
				@include animation(zoom-in, .7s);
				animation-timing-function: cubic-bezier(.8,-0.49,.36,1);
			}
			&.zoom-out {
				@include animation(zoom-out, .7s);
			}
		}
	}
	.start-button {
		font-weight: 900;
		color: $secondary-color;
		&.move-down-out {
			@include animation(move-down-out, .1s);
		}
		&.move-up-in {
			@include animation(move-up-in, .2s);
		}
	
	}
}

.modal {
	background-color: $primary-color-rgba;
	display: none;
	&.zoom-in {
		@include animation(zoom-in, .2s);
	}
	&.zoom-out {
		@include animation(zoom-out, .2s);
	}
	.close-modal {
		position: absolute;
		top: 50px;
		right: 50px;
		cursor: pointer;
	}
	form {
		text-align: center;
		input {
			width: 100%;
			font-size: 100px;
			text-align: center;
			color: $light-text;
			background-color: transparent;
			border: none;
			outline: none;
			padding: 10px 30px;
			&:focus {
				background-color: $tertiary-color;
			}
			&::placeholder {
				color: $light-text;
				opacity: 0.2;
			}
		}
		label {
			font-size: 10px;
			font-weight: 700;
			padding: 20px 40px;
		}
		button {
			padding: 10px 30px;
			border: solid 3px $tertiary-color;
			border-radius: 15px;
			background-color: transparent;
			font-size: 20px;
			font-weight: 700;
			color: $light-text;
			&:hover {
				background-color: $light-text;
				color: $secondary-color;
			}
		}
	}	
}

footer {
	position:absolute;
	bottom: 0;
	padding: 20px;
	font-size: 10px;
	font-weight: 700;
	width: 100%;
	.tips {
		float: left;
	}
	.copy {
		float: right;
	}
}

// Global key frames
	@keyframes zoom-out {
			0% { 
				opacity: 1; 
				transform: matrix(1, 0, 0, 1, 0, 0);

			}

			100% { 

				opacity: 0;
				transform: matrix(0.3, 0, 0, 0.3, 0, 0);
			}
		}

	@keyframes zoom-in {
			0% { 
				opacity: 0;
				transform: matrix(10, 0, 0, 10, 0, 0);

			}

			100% { 
				opacity: 1; 
				transform: matrix(1, 0, 0, 1, 0, 0);

			}
		}

	@keyframes move-down-out {
			0% { 
				opacity: 1;
				transform: matrix(1, 0, 0, 1, 0, 0);
			}
			100% { 
				opacity: 0; 
				transform: matrix(0.7, 0, 0, 0.7, 0, 100);
			}
		}

	@keyframes move-up-out {
		0% { 
			opacity: 1; 
			transform: matrix(1, 0, 0, 1, 0, 0);

		}

		100% { 

			opacity: 0;
			transform: matrix(1, 0, 0, 1, 0, -500);
		}
	}

	@keyframes move-up-in {
		0% { 
			opacity: 1; 
			transform: matrix(1, 0, 0, 1, 0, 500);

		}

		100% { 

			opacity: 0;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}
	}

	@keyframes move-down-in {
		0% { 
			opacity: 1; 
			transform: matrix(1, 0, 0, 1, 0, -500);

		}

		100% { 

			opacity: 0;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}
	}

	@keyframes move-down-out {
		0% { 
			opacity: 1; 
			transform: matrix(1, 0, 0, 1, 0, 0);

		}

		100% { 

			opacity: 0;
			transform: matrix(1, 0, 0, 1, 0, 500);
		}
	}
	@keyframes circle-blink {
			0% {  }

			10% { background-color: $light-text; transform: scale(1.1);}

			12% { background-color: $secondary-color;}

			90% { transform: scale(1.1);}

			100% {  }
	}