{
	"rules": {
		"no-console": 0,
		"no-unused-vars": 0
	},
	"extends": "eslint:recommended",
	"parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
      }
  },
  "env": {
        "browser": true,
        "node": true
  }
}